<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>{{ title }} - {{ subtitle }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/assets/bogfolk.css">
	<link rel="stylesheet" href="/assets/mailerlite.css">
	{{ projectCssUrl }}
	<link type="image/png" href="/assets/missy.png" rel="icon">

	<meta property="og:title" content="{{ title }}">
	<meta property="og:description" content="The Bogfolk Cafè">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="The Bogfolk Cafè">
	<meta property="og:image" content="{{ site_url }}/{{ socialImage }}">
	<meta property="og:image:type" content="{{ socialImageType }}">
	<meta property="og:image:alt" content="{{ socialImageAlt }}">
	<meta property="og:url" content="{{ site_url }}">
	<meta property="theme-color" content="#004d4d">

	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="{{ title }} - {{ subtitle }}">
	<meta name="twitter:site" content="@bogfolk">
	<meta name="twitter:image" content="/{{ socialImage }}">
	<meta name="twitter:image:alt" content="{{ socialImageAlt }}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap"
		rel="stylesheet">

	<script src="/assets/bogfolk.js"></script>

	<script>
		function ml_webform_success_27194879() {
			var $ = ml_jQuery || jQuery;
			$('.ml-subscribe-form-27194879 .row-success').show();
			$('.ml-subscribe-form-27194879 .row-form').hide();
		}
	</script>
	<script src="https://groot.mailerlite.com/js/w/webforms.min.js?v176e10baa5e7ed80d35ae235be3d5024"
		type="text/javascript"></script>
	<script>
		fetch("https://assets.mailerlite.com/jsonp/1593280/forms/157106260861257609/takel")
	</script>

</head>

<body>

	<div hidden>
		<span id="new-window">Opens in a new window</span>
	</div>

	<header>
		<div id="banner">
			<img src="/assets/bogfolk_banner_transparent_background.png" alt="Stylized text that says 'Bogfolk'">
			<img id="bannerMissy" src="/assets/{{ bannerMissy }}" alt="The bogfolk mascot, Missy.">
		</div>
	</header>

	<nav>
		<div id="navbar">
			<div class="wallOText">
				<button id="display-menu" title="Open main menu" onclick="navbarOnclick()">
					<span class="line line1"></span>
					<span class="line line2"></span>
					<span class="line line3"></span>
				</button>
				<div class="{{! navbar_class index.html }}">
					<a href="/">Home</a>
				</div>
				<div class="{{! navbar_class ourApproach.html }}">
					<a href="/ourApproach.html">Our Approach</a>
				</div>
				<div class="{{! navbar_class bogfolk.html }}">
					<a href="/bogfolk.html">The Bogfolk</a>
				</div>
				<div class="dropdown">
					<div class="header">
						<button onClick="dropdownOnClick(this)">
							Products
						</button>
					</div>
					<div class="dropdown-content">
						<div class="{{! navbar_class lichoma.html }}">
							<a href="/lichoma.html">Lichoma</a>
						</div>
						<div class="{{! navbar_class monolith.html }}">
							<a href="/monolith.html">Monolith</a>
						</div>
					</div>
				</div>
				<div class="{{! navbar_class submissions.html }}">
					<a href="/submissions.html">Submissions</a>
				</div>
				<div class="{{! navbar_class contact.html }}">
					<a href="/contact.html">Contact Us</a>
				</div>
			</div>
		</div>
	</nav>

	<main>
		{{ content }}
	</main>

	<footer>
		The Bogfolk Cafè. Copyright (c) 2025.
	</footer>
</body>

</html>
