:root {
  /* These are the colors from palette picked by Strega. */
  --smokeyBlack: #100e0d;
  --deepJungleGreen: #004d4d;
  --deepJungleGreenTransparent: #004d4d70;
  --lemonCurry: #d1a41b;
  --tartOrange: #f54040;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background: var(--deepJungleGreen);
  color: var(--white);
  scroll-padding-top: 3.5rem;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
}

main {
  --mainPadding: 2rem;
  /* main padding is used in computations that assume its units are in rem. */
  padding: 0 var(--mainPadding) var(--mainPadding);
}

h1 {
  font-family: 'Bebas Neue';
  text-align: center;
  font-size: 5rem;
  margin: 1rem auto;
}

h2 {
  font-family: 'Bebas Neue';
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
}

h3.lichoma {
  font-family: 'Alegreya Sans SC', sans-serif;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

ul>li {
  list-style-image: url("/assets/missy.svg");
}

ul>li::marker {
  padding-right: 0.5rem;
}

ol {
  padding-left: 1.25rem;
}

ol>li {
  list-style-image: none;
}

section {
  margin-bottom: 5rem;
}

iframe.itch {
  width: 100%;
}

details {
  margin: auto auto 1rem 1rem;
}

details>summary {
  margin-left: -1rem;
  list-style-type: '+ ';
}

details[open]>summary {
  list-style-type: '– ';
}

iframe.form {
  width: 100%;
  height: 800px;
  resize: vertical;
  overflow: auto;
  border: none;
}

#license li {
  margin-bottom: 1rem;
}

#compatibleLogos img {
  width: 100%;
}

#compatibleLogos>div {
  max-width: 30%;
  display: inline-block;
}

a {
  color: #eddba4;
}

blockquote {
  font-style: italic;
  margin-left: 3rem;
  margin-right: 3rem;
}

.author {
  margin-left: 8rem;
  margin-bottom: 1rem;
}

blockquote.note {
  font-weight: 300;
}

blockquote.boxed {
  border-style: solid;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background: var(--lemonCurry);
  color: var(--smokeyBlack);
}

footer {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

#banner {
  display: flex;
  width: fit-content;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#banner>img {
  max-width: 67%;
  max-height: 15vh;
  aspect-ratio: 2.312;
}

#banner>#bannerMissy {
  padding: 1rem 0;
  aspect-ratio: 1;
  margin-left: 0;
}

.center {
  text-align: center;
}

.bigImage {
  max-width: 100%;
  max-height: 80vh;
}

.wallOText {
  max-width: 110vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wallOText p:first-child {
  margin-top: 1rem;
}

.wallOText.fitImage {
  display: table;
  width: fit-content;
}

.wallOText.fitImage div {
  display: table-caption;
  caption-side: bottom;
}

@media (max-width: 960px) {

  /* This media query needs to cover every case where we get the mobile menu. */
  .wallOText {
    max-width: unset;
  }
}

/* styling for the 404 page. */
.blurred_lost {
  background-image: url("/assets/lost_in_the_bog.jpg");
  box-shadow: 0 0 3rem 3rem var(--deepJungleGreen) inset;
  display: inline-block;
  margin-left: calc(0rem - var(--mainPadding));
  margin-right: calc(0rem - var(--mainPadding));
}

.blurred_lost img {
  visibility: hidden;
  max-width: 100%;
}

.blurred_lost .transparent_overlay {
  background-color: var(--deepJungleGreenTransparent);
  width: 100%;
  height: 100%;
}

/* Styling to handle bogfolk profile animations. */
.hovermation {
  transition: transform .75s ease-out, opacity .75s ease-out;
  transition-delay: .3s;
  opacity: 1;
  transform: translateX(0);
}

.hovermation .text {
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 1.25rem;
  position: absolute;
  left: 0;
  right: 0;
  background: inherit;
}

.hovermation .element {
  overflow: hidden;
  position: relative;
}

.hovermation .element:hover .inner {
  top: 0;
  bottom: 0;
}

.hovermation .inner {
  left: 0;
  top: 0;
  position: relative;
  background: var(--tartOrange);
  transition: all .5s ease;
  width: 100%;
  height: 100%;
  top: -100%;
  right: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.hovermation .inner p {
  background: inherit;
  color: var(--smokeyBlack);
}

.hovermation img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* Styling for grid. */
.container {
  max-width: 94vw;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0.333rem;
  margin-right: 0.333rem;
}

.socials {
  display: flex;
  flex-wrap: wrap;
}

.socials div {
  margin: auto;
}

.socials svg {
  width: 6rem;
  fill: var(--white);
}

.socials img {
  width: 6rem;
}

.col-grid {
  padding-left: 0.333rem;
  padding-right: 0.333rem;
  padding-bottom: 0.666rem;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  position: relative;
  width: 100%;
}

@media (max-width: 960px) {
  .col-grid {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 480px) {
  .col-grid {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* Styling for the Navbar. */
nav {
  position: sticky;
  z-index: 10;
  top: 0;
}

#navbar {
  overflow: hidden;
  background: var(--tartOrange);
  display: block;
  width: 100%;
}

#display-menu {
  border-width: 0;
}

#navbar .navbar-item {
  background-color: var(--tartOrange);
  float: left;
  display: block;
  color: var(--smokeyBlack);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

#navbar .dropdown {
  background-color: var(--tartOrange);
  float: left;
  display: block;
  color: var(--smokeyBlack);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
}

#navbar .dropdown .dropdown-content {
  margin-left: -1rem;
}

#navbar .navbar-item.active {
  background-color: var(--lemonCurry);
}

#navbar a {
  color: var(--smokeyBlack);
}

#navbar button {
  border: none;
  background-color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .header {
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

.dropdown-content {
  display: none;
  position: absolute;
}

#navbar .dropdown-content .navbar-item {
  float: none;
}

@media (min-width: 800px) {
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

.video-container {
  position: relative;
  max-width: 560px;
  max-height: 80vh;
  aspect-ratio: 16/9;
  margin: auto;
}

.video-container iframe,
.video-container object,
.video-container embed {
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.glitch {
  animation: glitch 1s linear infinite;
  display: inline-block;
}

@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
    z-index: 1;
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
    z-index: 1;
  }

  62% {
    transform: translate(0, 0) skew(5deg);
    z-index: 1;
  }
}

.glitch:before,
.glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
    z-index: 1;
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
    z-index: 1;
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
    z-index: 1;
  }
}

.glitch:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {

  2%,
  64% {
    transform: translate(-2px, 0);
    z-index: 1;
  }

  4%,
  60% {
    transform: translate(-2px, 0);
    z-index: 1;
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
    z-index: 1;
  }
}

@media (max-width: 800px) {
  #navbar .navbar-item {
    text-align: center;
    float: none;
    display: none;
  }

  #navbar .dropdown {
    text-align: center;
    float: none;
    display: none;
  }

  #navbar {
    height: auto;
    position: relative;
    background: unset;
  }

  #display-menu {
    height: 1.625rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem;
    background-color: var(--tartOrange);
    border-radius: 0.3rem;
    box-sizing: content-box;
  }

  #navbar.mobile-navbar-display {
    position: relative;
  }

  #navbar.mobile-navbar-display #display-menu {
    border-radius: unset;
  }

  #display-menu .line {
    display: block;
    height: 0.25rem;
    width: 2rem;
    border-radius: 0.7rem;
    background: var(--smokeyBlack);
  }

  #navbar.mobile-navbar-display .navbar-item {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }

  #navbar.mobile-navbar-display .dropdown {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
  }

  #navbar.mobile-navbar-display .dropdown-content {
    position: relative;
  }

  #navbar.mobile-navbar-display .dropdown.active .dropdown-content {
    display: block;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  #banner>img {
    max-height: 25vh;
  }
}

.space-after {
  margin-bottom: 3rem;
}
